body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 80%;
}

nav {
	border-bottom: 1px solid blue;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 20px;
}

nav li {
	display: block;
	width: 120px;
	float: left;
}

nav a {
	text-decoration: none;
}

h1 {
	clear: both;
}

a.export {
	width: 48px;
	display: block;
	position: absolute;
	right: 0px;
	top: 40px;
}

table {
	padding: 0px;
	margin: 0px;
	background: #BBBBBB;
}

tr {
	padding: 0px;
	margin: 0px;
}	

td {
	padding: 2px;
	margin: 0px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 80%;
}

tr:nth-child(odd) {
	background-color: #eee;
	border: 0;
}

tr:nth-child(even) {
	background-color: #fff;
	border: 0;
}

td.date, td.requestnum {
	white-space: nowrap;
}


th {
	color: black;
	background: #AADDEE;
	font-weight: bold;
	font-size: 80%;
	white-space: nowrap;
}

h1 {
	font-weight: bold;
	font-size: 120%;
}

h2 {
	font-weight: bold;
	font-size: 110%;
}

.sortable .headerSortUp:after {
    content: " \2191";
    font-weight: bold;
}

.sortable .headerSortDown:after {
    content: " \2193";
    font-weight: bold;
}
