td.date, td.requestnum {
	white-space: nowrap;
}


th {
	background: #AADDEE;
	white-space: nowrap;
}

.sortable .headerSortUp:after {
    content: " \2191";
    font-weight: bold;
}

.sortable .headerSortDown:after {
    content: " \2193";
    font-weight: bold;
}
