td.date, td.requestnum {
	white-space: nowrap;
}


th {
	background: #AADDEE;
	white-space: nowrap;
}

.sortable .headerSortUp:after {
    content: " \2191";
    font-weight: bold;
}

.sortable .headerSortDown:after {
    content: " \2193";
    font-weight: bold;
}

@media print {
    nav.navbar,
    .container h1,
    .form-horizontal {
        display: none;
    }

    .table-condensed {
        line-height: 0;        
        font-size: 70%;
    }

    .table-condensed td {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}
